#title {
    padding: 1%;
    color:white;
    text-align: center;
}

::selection {
    background: skyblue; 
  }

#gradeCalculatorForm {
    text-align: center;
}

#footer-text {
    color: white;
}
#ScoreWeightLabel {
    color: white;
    margin-left: -5px;
    margin-right: auto;
}

#firstScoreWeight, #secondScoreWeight, #examWeight {
      margin-right: -80px;
      
}
.labels {
    margin: 1%;
}
.labels:hover {
    color:white;
}

.inputs {
    margin: 0.5%;
    -moz-border-radius: 15px;
    border-radius: 4px;
    border:solid 1px rgb(31, 31, 31);
    
}

.buttons {
    margin: 0.25%;
    -moz-border-radius: 15px;
    border-radius: 5px;
    border:solid 1px black;
}
.buttons:hover{ 
    color: skyblue;

}

header {
    margin: 1;
    
    font-family: Quicksand, "Segoe UI", sans-serif;
}

body {
    /*padding: 0.5%;
    background-color: burlywood; */
    margin: 0;
    position: relative;
    text-align: center;
    background: -o-linear-gradient(30deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    font-family: Quicksand, "Segoe UI", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out the content */
    padding: 0;
}



.content {
    position: relative;
    text-align: center;
    background-color: #fff;
    margin: 0;
    padding: 1%;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 300px;
    margin: 0;
    padding: 0;
    line-height: 0; /* ensures no whitespace from line breaks in SVG */
}

.footer {
    margin: 0;
    padding: 0;
}

.content p,
.content a,
.content img {
    margin: 0;
    padding: 0;
}

.parallax > use {
    -webkit-animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
            animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    -webkit-animation-duration: 13s;
            animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
}

@-webkit-keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}